<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm đợt giảm giá</title>
</head>
<body>
<h1>Thêm đợt giảm giá mới</h1>
<form action="/add" method="post" >
    <label for="tenDot">Tên đợt:</label>
    <input type="text" id="tenDot" name="tenDot" required><br>

    <label for="giaTri">Giá trị:</label>
    <input type="text" id="giaTri" name="giaTri" required><br>

    <label for="loaiGiamGia">Loại giảm giá:</label>
    <input type="text" id="loaiGiamGia" name="loaiGiamGia" required><br>

    <label for="giaTriGiamToiDa">Giá trị giảm tối đa:</label>
    <input type="text" id="giaTriGiamToiDa" name="giaTriGiamToiDa" required><br>

    <label for="trangThai">Trạng thái:</label><br>
    <input type="radio" id="hoatdong" name="trangThai" value="true" checked>
    <label for="hoatdong">Hoạt động</label><br>
    <input type="radio" id="khonghoatdong" name="trangThai" value="false">
    <label for="khonghoatdong">Không hoạt động</label><br>

    <label for="thoiGianBatDau">Thời gian bắt đầu:</label>
    <input type="datetime-local" id="thoiGianBatDau" name="thoiGianBatDau" required><br>

    <label for="thoiGianKetThuc">Thời gian kết thúc:</label>
    <input type="datetime-local" id="thoiGianKetThuc" name="thoiGianKetThuc" required><br>

<!--    <label for="ngayTao">Ngày tạo:</label>-->
<!--    <input type="datetime-local" id="ngayTao" name="ngayTao" required><br>-->

<!--   -->

<!--    <label for="ngay_chinh_sua">Ngày chỉnh sửa:</label>-->
<!--    <input type="datetime-local" id="ngay_chinh_sua" name="ngay_chinh_sua"><br>-->

    <button type="submit">Thêm</button>
</form>
</body>
</html>
